@charset "UTF-8";
/* CSS Document */

#innerGallery{
		width:780px;
		height:780px;
		background-color:;
	}

.thumb{
	width:248px;
	height:248px;
	display:inline-block;
	}
.shift{
	margin-left:13px;
	}
.down{
	margin-top:14px;
	}			
	
.brighten img {
  -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
       -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
          transition: all .5s ease;
}
 
.brighten img:hover {
  -webkit-filter: sepia(0);
  -webkit-filter: drop-shadow(7px 7px 20px black);
}
	