@charset "UTF-8";
/* CSS Document */

/*Classes*/
	/*Class for centering elements*/
	.center
	{
		margin-left:auto;
		margin-right:auto;	
	}
	/* Class for circles */
	.circleText
	{
		text-align:center;
		line-height:298px;
		color:white;	
		width:282px;
		height:298px;
	}

/*Header, Logo, Menu*/		
	#header
	{
		width: 100%;
		height: 343px;
		background: url(images/WoodGrain.png) no-repeat fixed;
		background-size:100% 347px;
	}	
	#logo{
		width:300px;
		height:300px;	
		background:url(images/logo.png) no-repeat center;
		}		
	#menu{
		width:109px;
		height:66px;
		position:absolute;
		margin-left:50%;
		left:-54px;
		top:310px;
		background-image:url(images/woodBox.jpg);
		}
		
	/* Multicolored band */		
	#band{
		width:100%;
		height:4px;
		background:url(images/band.png) no-repeat;		
		background-size: 100% 100%;
	}		
	#venn
	{
		height:342px;
		width:900px;
	}
	#vennImage{
		width:319px;
		height:342px;
		background:url(images/portrait.png) no-repeat center center;
		display:block;
		z-index:10;
		}
	/*Text - "Designer"*/
	#designer{
		position:absolute;
		top:500px;
		}
	/*Text - "Coder"*/	
	#coder{
		float:left;
		margin-top:150px;
		margin-left:625px;
		}	

/*Biographies Section*/
	#bios_wrapper
	{
		height:387px;
		width:100%;
	}
	#bios{
		width:960px;
	}
	/*div for jacob, company, and alex have a child div. This allows for vertical centering*/
	.tableChild{
		display:table-cell;
		vertical-align:middle;
		width:300px;
		text-align:justify;
		padding:10px 10px;
	}
	#jacob
	{
		vertical-align:top; 
		width:305px;		
		height: 386px;
		color:#1BA89A;
		display:inline-table;
	}
	#company{
		vertical-align:top; 
		width: 340px;
		height: 386px;
		color:green;
		display:inline-table;
	}
	#alex{	
		vertical-align:top; 
		width:305px;	
		height: 386px;	
		color:#1BA89A;
		display:inline-table;
	}
/*Projects Section*/	
	#cOne{
		background-image:url(images/redC.png);
		background-position:center;
	}
	#gallery
	{
		height:1108px;
		width:100%;
		background-color:#1BA89A;
	}
/*Any Questions*/	
	#anyQuestions{
		height:295px;
		width:100%;
		background-image:url(images/patternSegment.jpg);
		}
	#cTwo{
		background:url(images/greenC.png) center;
	}	
		
	#contact_form{
		height:329px;
		width:100%;
		background-color:#A4CF58;
	}
	#lowerPattern{
		height:99px;
		width:100%;
		background-image:url(images/patternSegment.jpg);
	}
	
/*Contact Information Section*/
	#footer
	{
	background-color:#2E3A3D;
	color:white;		
	}	
	/* Contains contact information */	
	#contactInfo_wrapper{
		height:192px;
		width:792px;
	}

	/* Inline Block for Footer */	
	ul#inlineBlock,
	ul#inlineBlock li 
	{
	/* Setting a common base */
	margin: 0;
	padding: 0;
	}
	ul#inlineBlock{
	width: 792px;
	}
	ul#inlineBlock li 
	{
	display: inline-block;
	width: 200px;
	min-height: 192px;
	vertical-align: top;
	/* For IE 7 */
	zoom: 1;
	*display: inline;
	}		
		
	#inlineBlock #jacobContact
	{
	width:296px;
	}
	#inlineBlock #jacobContact p
	{
	margin-top:84px;
	}
	#inlineBlock #thankYou
	{
	text-align:center;	
	background-image:url(images/semiC.png);
	background-position:center;
	}
	#inlineBlock #alexContact
	{
	width:296px;
	text-align:right;
	}	
	#inlineBlock #alexContact p
	{
	margin-top:84px;
	}	
	#pOr
	{
		margin-top:47px;
	}	
	#pThank
	{
		margin-top:87px;
		color:#2E3A3D;
	}
	
/***************CSS RESET***************/		

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}	
		
		