@charset "UTF-8";
/* CSS Document */


@font-face {
	font-family: Cold Bold;
	src: url(CodeBold.otf);
}
@font-face {
	font-family: Intro Inline;
	src: url(IntroInline.otf);
}
p,ul{font-family: Intro Inline;}


#designer, #coder{
	font-size:14px;	
	font-family:Cold Bold;
	}
#coder{
	letter-spacing:55px;
}
#designer{
	letter-spacing:30px;
	}
	
#bios {
	font-family: Intro Inline;
	font-size:18px;
	
}

#cOne
{
	font-family: Intro Inline;
}
	
::-webkit-input-placeholder { /* WebKit browsers */
   font-family: Intro Inline;
   font-size:16px;
   color:#7F7F7F;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   font-family: Intro Inline;
   font-size:16px;
   color:#7F7F7F;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-family: Intro Inline;
	font-size:16px;
	color:#7F7F7F;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    font-family: Intro Inline;
	font-size:16px;
	color:#7F7F7F;
}	